.header-utama{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff0505;
}
.logo-utama {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_LNzPMUXxzN_FZgi8pR0VPR8vpsWsS2T30w&s);
    background-size: cover;
}
.nav{
    display: flex;
}
.nav>a{
    text-decoration: none;
    color: #ffffff;
    opacity: 0;
    padding: 8px;
}
.nav>a:hover{
    background-color: #dc5f06;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.footer-utama{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ff0505;
}
.footer-utama>p{
    color: #ffffff;
    font-size: 14px;
    margin: 10px;
}
